
@import "fonts.scss";
@import "slick-theme";
@import "slick.scss";
@import "lightslider";
$btn-width: 100%;
$btn-height: 100%;
$btn-color: #fff;

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

$mainColor: #cd9a8a;

.search input::-webkit-input-placeholder {opacity: 1; font-family:'Open Sans';  color:#3f3f4d; font-size: 13px; outline: none;}
.search input::-moz-placeholder          {opacity: 1; font-family:'Open Sans';  color:#3f3f4d; font-size: 13px; outline: none;}/* Firefox 19+ */
.search input:-moz-placeholder    	     {opacity: 1; font-family:'Open Sans';  color:#3f3f4d; font-size: 13px; outline: none;}/* Firefox 18- */
.search input:-ms-input-placeholder      {opacity: 1; font-family:'Open Sans';  color:#3f3f4d; font-size: 13px; outline: none;}


* {
	box-sizing: border-box;
}

.search input:focus {
	outline: 0;
}
.buy,
.buyToClick {
    width: 100%;
    max-width: 185px;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    background: #f67076;
    border-radius: 19px;
    padding: 8px 0 10px;
    margin: 0 0 20px;
    border: 2px solid transparent;
    transition: all .3s ease;
}
body {
	background: #fff;
	font: 15px/1.2 'Open Sans', sans-serif;
	padding: 0;
	margin: 0 auto;
	color: #212121;
	min-width: 320px;
	overflow-x: hidden !important; 
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
a {
	text-decoration: none;
	outline: none;
}
#header, #footer {
	.header_top, .footer_top {
		position: relative;
		background: #fcfafa;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
		.wrapper_nav {
			max-width: 960px;
			margin: 0 auto;
			padding: 0;
			position: relative;
			.nav {
				float: left;
				list-style: none;
				margin: 0;
				padding: 14px 0 12px;
				li {
					float: left;
					margin: 0 30px 0 0;
					&:last-child {
						margin: 0;
					}
					a {
						color: #3f3f4d;
						font-size: 14px;
						position: relative;
						padding: 0 0 2px;
						&:after {
							content: '';
							position: absolute;
							left: 50%;
							bottom: 0;
							height: 1px;
							width: 0;
							background: $mainColor;
							transition: all .3s ease;
						}
						&:hover {
							color: $mainColor; 
							transition: all .3s ease;
						}
						&:hover:after {
							color: $mainColor; 
							left: 0;
							right: 0;
							width: 100%;
							transition: all .3s ease;
						}
					}
				}
			}
			.login, .personal_area {
				float: right;
				position: relative;
				z-index: 2;
				padding: 14px 0 12px;
				a, .personal_area_button {
					color: #3f3f4d;
					font-size: 14px;
					transition: all .2s ease;
					&:hover {
						color: $mainColor;
						transition: all .2s ease;
					}
					&:hover .login_icon  {
						fill: $mainColor;
						transition: all .2s ease;
					}
					i {
						// background: url(../img/svg/login_icon.svg) no-repeat;
						margin: 0 7px 0 0;
						// width: 13px;
						// height: 16px;
						display: inline-block;
						vertical-align: top;
						.login_icon {
							width: 13px;
							height: 16px;
							display: inline-block;
							vertical-align: middle;
							fill: #3f3f4d;
						}

					}
				}
			}
			.personal_area {
				padding: 0;
				background: rgba(242,242,242,0.98);
				position: relative;
				z-index: 9999;
					.personal_area_button {
						position: relative;
						padding: 14px 26px 14px 13px;
						cursor: pointer;
						&:after {
							content: '';
							display: block;
							position: absolute;
							right: 10px;
							top: 50%;
							width: 0;
							height: 0;
							margin: -2px 0 0;
							border-left: 3px solid transparent;
							border-right: 3px solid transparent;
							border-top: 4px solid #212121;
						}
						&:hover .drop{
							visibility: visible;
							transition: all .3s ease;
						}
						.drop {
							visibility: hidden;
							position: absolute;
							top: 45px;
							left: 0;
							right: 0;
							z-index: 9999;
							list-style: none;
							text-align: center;
							margin: 0;
							padding: 0;
							border-radius: 0 0 5px 5px;
							width: 100%;
							background: rgba(242,242,242,0.98);
							box-shadow: 0 6px 7px -6px rgba(0, 0, 0, 0.15) inset;
							transition: all .3s ease;
							li {
								border-bottom: 1px solid #fff;
								&:last-child {
									border: 0;
								}
								a {
									display: block;
									padding: 13px 0;
								}
							}
						}
					}
				}
		}
		.mob-menu {
		    position: absolute;
		    left: 0;
		    top: 12px;
		    display: none;
		    width: 100%;
		}
		.main-mnu_1,
		.main-mnu_2 {
		        display: none;
		        position: absolute;
		        top: 33px;
		        list-style: none;
		        margin: 0;
		        padding: 0 15px;
		        width: 100%;
		        background: rgba(255, 255, 255, 0.95);
		        text-align: center;
		        z-index: 99999;
		        box-shadow: 0 6px 7px -6px rgba(0, 0, 0, 0.15) inset;
		        li {
		            border-bottom: 1px solid #eaeaea;
		            a {
		                color: #212121;
		                display: inline-block;
		                font-size: 18px;
		                padding: 30px 0 25px;
		                text-transform: uppercase;
		            }
		        }
		}
		.toggle-mnu_1,
		.toggle-mnu_2 {
		        display: block;
		        width: 27px;
		        height: 20px;
		        span:after,
		        span:before {
		            content: "";
		            position: absolute;
		            left: 0;
		            top: 9px;
		        }
		        span:after {
		            top: 18px;
		        }
		        span {
		            position: relative;
		            display: block;
		        }
		        span,
		        span:after,
		        span:before {
		            width: 100%;
		            height: 3px;
		            background: #3f3f4d;
		            transition: all 0.3s;
		        }
		        &.on span {
		            transform: rotate(90deg) translate(10px, -7px);
		        }
		}
	}
	.header_bottom, .footer_bottom {
		max-width: 960px;
		margin: 0 auto;
		padding: 28px 0 23px;
		.logo {
			float: left;
			width: 30%;
			margin: 27px 0 0;
			&:hover a{
				opacity: 0.7;
			}
			strong {
				margin: 0;
				display: inline-block;
				text-align: center;
			}
			a {
				font-family: 'Merienda One';
				color: #cd9a8a;
				font-size: 44px;
				span {
					text-transform: uppercase;
					font-size: 12px;
					color: #212121;
					display: block;
					font-family: 'Open Sans', sans-serif;
					font-weight: 600;
				}
			}
		}
		.wrapper_social_search {
			width: 35%;
			text-align: center;
			float: left;
			.social {
				margin: 0 0 20px;
				a {
					font-size: 13px;
					color: #212121;
					font-weight: 600;
					display: inline-block;
					margin: 0 3px 0 0;
					&:last-child {
						margin: 0;
					}
					&:hover {
						color: #cd9a8a;
					}
					&:hover i{
						transition: all .3s ease;
						opacity: 0.7;
					}
					i {
						transition: all .3s ease;
						width: 22px;
						height: 22px;
						display: inline-block;
						vertical-align: middle;
					}
					.facebook {
						background: url(../img/svg/facebook.svg) no-repeat;
					}
					.vk {
						background: url(../img/svg/vk.svg) no-repeat;
					}
					.insta {
						background: url(../img/svg/insta.svg) no-repeat;
					}
					.email {
						background: url(../img/svg/email.svg) no-repeat;
					}
				}
			}
			.search {
				border: 2px solid $mainColor;
				border-radius: 20px;
				padding: 9px 13px;
				box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
				margin: 0 0 20px;
				input {
					padding: 0 0 0 33px;
					border: 0;
					background: transparent;
					height: 20px;
					width: 93%;
					background: url(../img/svg/search_icon.svg) no-repeat 0 0;
					background-size: 17px 18px;
					-webkit-appearance: none;
				}
				.submit {
					width: 7%;
					height: 20px;
					background: transparent url(../img/svg/arrow_submit.svg) no-repeat 100% 50%;
					background-size: 8px 16px;
					border: 0;
					float: right;
					cursor: pointer;
					padding: 0;
					-webkit-appearance: none;
					&:hover {
						opacity: 0.8;
					}

				}
			}
			.example {
				color: #d1a293;
				a {
					color: #d1a293;
					text-decoration: underline;
					display: inline-block;
					margin: 0 0 0 4px;
					transition: all .3s ease;
					&:hover {
						color: #f15c62;

					}
				}
			}
		}
		.contacts {
			float: right;
			width: 27%;
			max-width: 255px;
			min-width: 200px;
			.work_time {
				font-size: 13px;
				font-weight: 600;
				display: inline-block;
				margin: 0 0 15px;
				i.clock_icon {
					margin: 0 8px 0 0;
					width: 20px;
					height: 20px;
					float: left;
					background: url(../img/svg/clock_icon.svg) no-repeat;
				}
			}	
			.phone {
				font-size: 17px;
				font-weight: bold;
				color: #212121;
				display: inline-block;
				margin: 0 0 5px;
				transition: all .3s ease;
				&:hover {
					color: $mainColor;
					transition: all .3s ease;
				}
				i.phone_icon  {
					margin: 0 7px 0 0;
					width: 18px;
					height: 19px;
					display: inline-block;
					vertical-align: middle;
					background: url(../img/svg/phone_icon.svg) no-repeat;
				}
			}
			.callback {
				margin: 15px 0 0;
				font-size: 14px;
				display: inline-block;
				color: #f67076;
				font-weight: 600;
				border-bottom: 1px dashed #f67076;
				&:hover {
					color: #f15c62;
					border-bottom: 1px dashed #f15c62;
				}
			}
		}
	}
}
#main {
	.breadcrumbs {
		padding: 35px 10px 20px;
		margin: 0;
		text-align: center;
		li {
			display: inline-block;
			vertical-align: top;
			color: $mainColor;
			font-size: 14px;
			margin: 0 7px 10px 0;
			&:last-child {
				margin: 0 0 10px;
			}
			a {
				color: $mainColor;
				font-size: 14px;
				margin: 0 10px 0 0;
				transition: all .3s ease;
				&:hover {
					color: #f15c62;
					transition: all .3s ease;
				}
			}
		}
	}
	.wrapper_slider {
		background: url(../img/bg_pink.jpg) repeat;
		position: relative;
		padding: 10px 0 0;
		// overflow: hidden;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow_up.png) repeat 0 0;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow.png) repeat 0 0;
		}
		.bg {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 14%;
				bottom: -92px;
				width: 20%;
				height: 86px;
			    border-radius: 50%;
			    box-shadow: -34px -32px 82px 143px rgba(255, 255, 255, 0.6);
			}
		}
		.slider {
			max-width: 960px;
			margin: 0 auto;
			position: relative;
			z-index: 999;
			.slick-dots {
				width: auto;
				right: 0;
				bottom: 15px;
				z-index: 9999;
			}
			.slick-dots li {
				margin: 0 0 0 5px;
			}
			.slick-dots li,.slick-dots li button {
				width: 12px;
				height: 12px;
			}
			.slick-dots li button:before {
				width: 12px;
				height: 12px;
				background: #eeddc8;
				padding: 0;
				border-radius: 50%;
				color: transparent;
				opacity: 1;
			}
			.slick-dots li:hover button::before {
				background: #cd9a8a;
			}
			.slick-dots li.slick-active button::before {
				opacity: 1;
				color: transparent;
				background: #cd9a8a;
			}
			.text {
				display: inline-block;
				width: 52%;
				max-width: 495px;
				margin: 10% 0 0;
				strong {
					margin: 0 0 10px;
					font-weight: 600;
					font-size: 24px;
					text-transform: uppercase;
				}
				span {
					font-size: 14px;
					display: inline-block;
					margin: 0 0 25px;
				}
				.more {
					display: inline-block;
					color: #f67076;
					border: 2px solid #f67076;
					border-radius: 20px;
					font-size: 14px;
					padding: 11px 20px;
					transition: all .3s ease;
					span {
						background: #f67076;
						display: block;
						margin: 0;
					}
					&:hover {
						// background: #f67076; 
						color: #fff;
						transition: all .3s ease;
					}
				}
			}
			.wrapper_img {
				float: right;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					right: 63%;
					top: 37%;
					width: 1px;
					height: 1px;
				    border-radius: 50%;
				    box-shadow: -58px -21px 88px 76px rgba(255, 255, 255, 1), 34px 21px 88px 76px rgba(255, 255, 255, 1);
				    z-index: -1;
				}
			}
		}
	}
	h3, h1 {
		text-align: center;
		font-size: 24px;
		margin: 0;
		font-weight: 600;
		text-transform: uppercase;
		padding: 0 25px;
		position: relative;
		display: inline-block;
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: -70px;
			top: 50%;
			background: #dfdfdf;
			width: 100%;
			max-width: 70px;
			height: 1px;
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			right: -70px;
			top: 50%;
			background: #dfdfdf;
			width: 100%;
			max-width: 70px;
			height: 1px;
		}
	}
	.looking {
		padding: 40px 0 30px;
		max-width: 960px;
		margin: 0 auto;
		text-align: center;
		position: relative;
		z-index: 9;
		.wrapper_img_petals {
			position: absolute;
			top: 10px;
			right: 15%;
		}
		.wrapper_box {
			margin: 40px 0 0;
			.box {
				display: inline-block;
				vertical-align: top;
				width: 116px;
				margin: 0 0 20px;
				a {
					display: block;
					color: #212121;
					transition: all .3s ease;
					&:hover span {
						transition: all .3s ease;
					}
					&:hover {
						color: #f67076;
						transition: all .3s ease;
					}
					&:hover .circle {
						border: 2px solid #f67076;
						transition: all .3s ease;
					}
					span {
						display: inline-block;
						text-decoration: underline;
						font-weight: 600;
						transition: all .3s ease;
					}
				}
				.circle {
					border: 2px solid #f5c4b3;
					border-radius: 50%;
					width: 85px;
					height: 85px;
					overflow: hidden;
					margin: 0 auto 15px;
					line-height: 80px;
					img {
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}
	}
	.best_prise, .popular_tovar, .tovar_block {
		max-width: 960px;
		margin: 0 auto;
		text-align: center;
		padding: 0 0 20px;
		.wrapper_best_prise_box, .wrapper_popular_tovar_box {
			margin: 35px 0 0;
			.best_prise_box, .popular_tovar_box {
				position: relative;
				border-radius: 15px;
				width: 100%;
				max-width: 225px;
				float: left;
				margin: 0 20px 20px 0;
				max-height: 376px;
				transition: all .5s ease;
				box-shadow: 1px 1px 9px rgba(0,0,0,0.1), -1px -1px 9px rgba(0,0,0,0.1);
				&:nth-child(4n) {
					margin: 0 0 20px;
				}
				&:hover {
					box-shadow: none;
					transition: all .5s ease;
				}
				.all_block {
					display: block;
					color: #212121;
				}
				.wrapper_img {
					height: 214px;
					line-height: 214px;
					margin: 0 0 20px;
					img {
						vertical-align: middle;
					}
				}
				.name_tovar {
					display: block;
					margin: 0 0 10px;
				}
				.prise {
					margin: 0 0 20px;
					.new {
						font-size: 24px;
						color: #f67076;
						display: inline-block;
						font-weight: bold;
					}
					.old {
						color: #dcdcdc;
						font-weight: 600;
						text-decoration: line-through;
					}
				}
				.buy , .buyToClick{
					width: 100%;
					max-width: 185px;
					color: #fff;
					font-size: 18px;
					line-height: 20px;
					cursor: pointer;
					font-weight: 600;
					display: inline-block;
					background: #f67076;
					border-radius: 19px;
					padding: 8px 0 10px;
					margin: 0 0 20px;
					border: 2px solid transparent;
					transition: all .3s ease;
				}
				.buy {
					&:hover {
						background: #f15c62;
						transition: all .3s ease;
					}
				}
				.buyToClick {
					font-weight: normal;
				}
				.action, .new_tovar {
					color: #fff;
					text-transform: uppercase;
					font-weight: 600;
					background: #2ecc71;
					font-size: 14px;
					position: absolute;
					top: 15px;
					left: 15px;
					min-width: 90px;
					padding: 9px 5px;
					border-radius: 15px;
				}
				.new_tovar {
					background: #f1c40f;
				}
			}
		}
	}
	.wrapper_guarantee {
		background: url(../img/bg_.jpg) repeat;
		padding: 40px 0 30px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow_up.png) repeat 0 0;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow.png) repeat 0 0;
		}
		.guarantee {
			text-align: center;
			max-width: 960px;
			margin: 0 auto;
			.wrapper_guarantee_box {
				margin: 40px 0 0;
				.guarantee_box {
					text-align: center;
					width: 200px;
					display: inline-block;
					vertical-align: top;
					margin: 0 47px 25px 0;
					&:hover .circle {
						border: 3px solid #f15c62;
						transition: all 0.3s;
						cursor: pointer;
					}
					&:hover span, &:hover h4 {
						color: #f15c62;
						transition: all 0.3s;
					}
					&:nth-child(4n) {
						margin: 0 0 25px;
					}
					h4 {
						transition: all 0.3s;
						font-weight: bold;
						margin: 0;
						text-transform: uppercase;
					}
					span {
						font-size: 13px;
						text-transform: uppercase;
						transition: all 0.3s;
					}
					.circle {
						width: 180px;
						height: 180px;
						background: #fff;
						line-height: 170px;
						border: 3px solid #f3b9a7;
						border-radius: 50%;
						margin: 0 auto 20px;
						transition: all 0.3s;
						img {
							display: inline-block;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
	.reviews {
		max-width: 960px;
		margin: 0 auto;
		text-align: center;
		padding: 50px 0 30px;
		.wrapper_reviews_box {
			margin: 35px 0 30px;
			text-align: left;
			position: relative;
			background: #fff;
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 98%;
				height: 5px;
				box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
				z-index: -1;
				margin: 0 auto;
			}

			.reviews_box {
				max-width: 47%;
				vertical-align: top;
				display: inline-block;
				margin: 0 5% 30px 0;
				&:nth-child(2n) {
					margin: 0 0 30px;
				}
				 .wrapper_img {
				 	float: left;
				 	margin: 0 20px 0 0;
				 	img {
						border: 3px solid #f3b9a7;
						border-radius: 50%;
				 	}
				}
				.wrapper_text {
					float: left;
					max-width: 300px;
					.wrapper_name_stars {
						margin: 0 0 20px;
						.name {
							font-weight: 600;
							margin: 0 15px 0 0;
							display: inline-block;
						}
						.stars {
							display: inline-block;
							.star {
								display: inline-block;
								width: 20px;
								height: 18px;
								vertical-align: middle;
								background: url(../img/svg/star.svg) no-repeat;
							}
						}
					}
					p {
						font-size: 14px;
						line-height: 22px;
						margin: 0 0 20px;
					}
					.date {
						font-size: 14px;
						color: #bdbdbd;
					}
				}
			}
		}
		.add_review {
			border: 2px solid #f67076;
			background: #f67076;
			color: #fff;
			font-size: 18px;
			font-weight: 600;
			border-radius: 20px;
			width: 260px;
			padding: 6px 0 10px;
			cursor: pointer;
			transition: all .3s ease;
			&:hover {
				background: #f15c62;
				transition: all .3s ease;
			}
		}
	}
	.wrapper_payment_tovar {
		background: url(../img/bg_.jpg) repeat;
		padding: 40px 0 30px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow_up.png) repeat 0 0;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow.png) repeat 0 0;
		}
		.payment_tovar {
			max-width: 960px;
			margin: 0 auto;
			text-align: center;
			.payment_tovar_box {
				margin: 40px auto 0;		
				.circle {
					background: #fff;
					width: 180px;
					height: 180px;
					line-height: 180px;
					overflow: hidden;
					border: 3px solid #f3b9a7;
					border-radius: 50%;
					margin: 0 auto 30px;
					cursor: pointer;
					transition: all .3s ease;
					&:hover {
						border: 3px solid #f15c62;
						transition: all .3s ease;
					}
					img {
						vertical-align: bottom;
						display: inline-block;
					}
				}
				p {
					margin: 0;
					line-height: 25px;
				}
			}
		}
	}
	.delivery_tovar {
	    max-width: 960px;
	    margin: 0 auto;
	    text-align: center;
	    padding: 40px 0 30px;
    	.delivery_tovar_box {
	        margin: 40px auto 0;
	        .circle {
	            background: #fff;
	            width: 180px;
	            height: 180px;
	            line-height: 180px;
	            overflow: hidden;
	            border: 3px solid #f3b9a7;
	            border-radius: 50%;
	            margin: 0 auto 30px;
	            transition: all .3s ease;
	            cursor: pointer;
	            &:hover {
	            	border: 3px solid #f15c62;
	            	transition: all .3s ease;
	            }
	            img {
	                vertical-align: bottom;
	                display: inline-block;
	            }
	        }
        	p {
          	 	margin: 0 0 20px;
            	line-height: 25px;
        	}
        	.detals_prise {
        		color: #fff;
        		background: #f67076;
        		border: 2px solid #f67076;
        		display: inline-block;
        		width: 100%;
        		max-width: 310px;
        		padding: 10px 0;
        		font-weight: 600;
        		font-size: 18px;
        		border-radius: 20px;
        		transition: all .3s ease;
        		&:hover {
        			background: #f15c62;
        			transition: all .3s ease;
        		}
        	}
    	}	
    }
    .wrapper_about_us {
    	background: url(../img/bg_pink.jpg) repeat;
		position: relative;
		overflow: hidden;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow_up.png) repeat 0 0;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow.png) repeat 0 0;
		}
		.bg {
			position: relative;
			padding: 50px 0 70px;
			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: -92px;
				width: 135px;
				height: 86px;
			    border-radius: 50%;
			    box-shadow: -34px -32px 99px 188px rgba(255, 255, 255, 0.6);
			}
			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: -92px;
				width: 20%;
				height: 86px;
			    border-radius: 50%;
			    box-shadow: -34px -32px 99px 188px rgba(255, 255, 255, 0.6);
			}
		}
		.about_us {
			max-width: 960px;
			margin: 0 auto;
			text-align: center;
			position: relative;
			z-index: 5;
			h1 {
				&:after, &:before {
					background: #212121;
				}
			}
			.wrapper_about_us_box {
				margin: 35px 0 0;
				text-align: left;
				p {
					margin: 0 0 30px;
					line-height: 24px;
					&:last-child {
						margin: 0;
					}
				}
				h2 {
					font-size: 18px;
					font-weight: 600;
					margin: 0 0 35px;
				}
			}
		}
    }
    .contacnts {
    	max-width: 960px;
    	margin: 0 auto;
    	text-align: center;
    	padding: 50px 0;
    	.wrapper_contacnts_box {
    		margin: 30px 0 0;
    		.contacnts_box {
    			width: 49%;
    			display: inline-block;
    			vertical-align: top;
    			padding: 0 4%;
    			.phone, .address {
    				margin: 0 0 30px;
    				.head {
    					font-size: 18px;
    					display: inline-block;
    					font-weight: 600;
    					margin: 0 0 5px;
    				}
    				a, .street {
    					color: #212121;
    					font-weight: normal;
    				}
    			}
    			.map {
    				max-width: 394px;
    				display: block;
					margin: 0 auto;
    				iframe {
    					width: 100%;
    				}
    			}
    		}
    	}
    }
}
#footer {
	overflow: hidden;
	.contacts {
		.head {
			display: inline-block;
			font-weight: bold;
			margin: 0 0 5px;
		}
	}
	.footer_bottom {
		.logo {
			margin: 0;
		}
		.copyright {
			margin: 25px 0 0;
			display: block;
			font-size: 14px;
		}
		.wrapper_social_search {
			.social {
				margin: 5px 0 0;
			}
		}
	}
	.footer_top {
		.main-mnu_2 {
			float: left;
			position: static;
			margin: 10px 0 0;
			padding: 0;
		}
	}
} 
.wrapper_basket {
	display: none;
	position: absolute;
  	top: 100%;
  	right: 0;
  	left: 0;
  	z-index: 9;
	width: 100%;
	background: #fff;
	box-shadow: 0 6px 7px -6px rgba(0, 0, 0, 0.15), 0 6px 7px -6px rgba(0, 0, 0, 0.15) inset;
	&.fixed-style {
		position: fixed;
  		top: 0;
  		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	}
	.basket {
		max-width: 960px;
		margin: 0 auto;
		padding: 11px 0;
		overflow: hidden;
		text-align: center;
		.number_cost {
			width: 56%;
			display: inline-block;
			vertical-align: top;
			text-align: left;
			.bascet_icon {
				width: 60px;
				display: inline-block;
				vertical-align: top;
			}
			.info_basket {
				color: $mainColor;
				display: inline-block;
				font-weight: 600;
				margin: 20px 0 0 5%;
				.cost, .total {
					color: #212121;
				}
			}
		}
		.wrapper_button {
			width: 43%;
			display: inline-block;
			vertical-align: top;
			text-align: right;
			margin: 6px 0 0;
			button {
				display: inline-block;
				margin: 0 0 0 15px;
				&:first-child {
					margin: 0;
				}
			}
			.buy {
				&:hover {
					background: #f15c62;
					transition: all .3s ease;
				}
			}
			.cancel {
			    width: 100%;
			    max-width: 185px;
			    color: $mainColor;
			    font-size: 14px;
			    line-height: 20px;
			    cursor: pointer;
			    display: inline-block;
			    background: transparent;
			    border-radius: 19px;
			    padding: 8px 0 10px;
			    border: 1px solid $mainColor;
			    transition: all .3s ease;
			    &:hover {
			    	color: #fff;
			    }
			}

		}
	}
}
.items, .item {
	#main {
		box-shadow: inset 0 6px 7px -6px rgba(0,0,0,.15);
		.wrapper_img_petals {
			display: none;
		}
		.tovar_block {
			.wrapper_best_prise_box {
				.best_prise_box {
					padding: 0 0 20px;
					max-height: 435px;
					.buy {
						margin: 0 0 15px;
						padding: 10px 0;
						&:hover {
							background: #f15c62;
						}
					}
					.buyToClick {
						margin: 0;
						font-size: 14px;
						padding: 11px 0;
						color: #e9aa95;
						background: transparent;
						border: 1px solid #e9aa95;
						&:hover {
							color: #fff;
							// background: #e9aa95;
						}
					}
				}
			}
			.filter {
				margin: 35px 0 0;
				.title {
					font-weight: 600;
				}
				 .filter_botton,  {
					min-width: 120px;
				 	margin: 0 0 0 7px;
					font-size: 14px;
					padding: 7px 3px;
					color: #e9aa95;
					cursor: pointer;
					font-weight: bold;
					border-radius: 7px;
					background: transparent;
					border: 1px solid #e9aa95;
					transition: all 0.3s;
					&:hover, &.active {
						color: #fff;
						background: #e9aa95;
						transition: all 0.3s;
					}
				}
			}
			.pagination {
				margin: 0;
				padding: 15px 0;
				list-style: none;
				li {
					display: inline-block;
					vertical-align: top;
					a {
						display: inline-block;
						width: 32px;
						font-size: 14px;
						padding: 7px 3px;
						color: #e9aa95;
						font-weight: bold;
						border-radius: 7px;
						background: transparent;
						border: 1px solid #e9aa95;
						transition: all 0.3s;
						&:hover, &.active {
							color: #fff;
							background: #e9aa95;
							transition: all 0.3s;
						}
					}
					&.active a{
						color: #fff;
						background: #e9aa95;
					}
				}
			}
		}
	}
}
.item {
	#main {
		.tovar_block {
			padding: 40px 0 20px;
		}
		.cart_tovar {
			max-width: 960px;
			margin: 0 auto;
			text-align: center;
			.wrapper_cart_tovar_description {
				padding: 30px 0 0;
				margin: 0 -15px;
				.slider_cart_tovar {
					max-width: 440px;
					width: 46%;
					display: inline-block;
					vertical-align: top;
					.lSSlideWrapper {
						box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.1), -1px -1px 9px rgba(0, 0, 0, 0.1);
						border-radius: 15px;
						li {
							padding: 30px 20px;
						}
					}
					.lSSlideOuter {
						    padding: 10px;
						}
						.lSSlideOuter .lSPager.lSGallery li {
							box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1);
							border-radius: 15px;
							transition: all 0.5s;
							&:hover {
								box-shadow: none;
								transition: all 0.5s;
							}
						}
						.lSSlideOuter .lSPager.lSGallery {
						  	padding: 10px;
						    box-sizing: content-box;
						    margin-left: -10px;
						}
				}
				.description {
					width: 51%;
					display: inline-block;
					vertical-align: top;
					margin: 20px 0 0 2%;
					text-align: left;
					.title {
						font-size: 18px;
						display: block;
						margin: 0 0 15px;
					}
					.prise_block {
						box-shadow: 0px 9px 6px -6px rgba(0, 0, 0, 0.1);
						// padding: 0 0 25px;
						margin: 0 0 40px;
						.prise {
							margin: 0 0 20px;
							.new {
								display: inline-block;
								font-size: 36px;
								line-height: 38px;
								color: #f67076;
								font-weight: bold;
								margin: 0 5px 0 0;
							}
							.old {
								display: inline-block;
								font-weight: 600;
								font-size: 24px;
								color: #dcdcdc;
								text-decoration: line-through;
							}
						}
						.buyToClick {
							color: #e9aa95;
							font-weight: normal;
							font-size: 14px;
							margin: 0;
							&:hover {
								color: #fff;
							}
						}
						.buy {
							margin: 0 12px 20px 0;
							&:hover {
								background: #f15c62;
							}
						}
					}
					.rows {
						margin: 0 0 20px;
						p {
							margin: 0;
						}
						span {
							display: block;
						}
					}
				}
			}
		}
	}
}


.btn {
    position: relative;
    overflow: hidden;
    border: 1px solid #e9aa95;
    background: transparent;
    color: #FFF;
    span {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        display: block;
        @include size(0);
        border-radius: 50%;
        background: #e9aa95;
        transform: translate(-50%, -50%);
        transition: width 0.5s, height 0.5s;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        span {
            @include size($btn-width*3.5);
        }
    }
    &:active {
        background: #e9aa95;
    }
}








// span {
//     transition: none;
//   }


