
@import "fonts.scss";

$mainColor: #cd9a8a;

.search input::-webkit-input-placeholder {opacity: 1; font-family:'Open Sans';  color:#3f3f4d; font-size: 13px; outline: none;}
.search input::-moz-placeholder          {opacity: 1; font-family:'Open Sans';  color:#3f3f4d; font-size: 13px; outline: none;}/* Firefox 19+ */
.search input:-moz-placeholder           {opacity: 1; font-family:'Open Sans';  color:#3f3f4d; font-size: 13px; outline: none;}/* Firefox 18- */
.search input:-ms-input-placeholder      {opacity: 1; font-family:'Open Sans';  color:#3f3f4d; font-size: 13px; outline: none;}
* {
	box-sizing: border-box;
}
body {
	background: #fff;
	font: 15px/1.2 'Open Sans', sans-serif;
	padding: 0;
	margin: 0 auto;
	color: #212121;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
a {
	text-decoration: none;
	outline: none;
}
#header, #footer {
	.header_top, .footer_top {
		background: #fcfafa;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
		.wrapper_nav {
			max-width: 960px;
			margin: 0 auto;
			padding: 18px 0 14px;
			position: relative;
			.nav {
				float: left;
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					float: left;
					margin: 0 30px 0 0;
					&:last-child {
						margin: 0;
					}
					a {
						color: #3f3f4d;
						font-size: 14px;
					}
				}
			}
			.mob-menu {
				position: absolute;
				left: 0;
				top: 15px;
				display: none;
				width: 100%;
				.main-mnu {
					display: none;
					position: absolute;
					top: 36px;
					list-style: none;
					margin: 0;
					padding: 0 15px;
					width: 100%;
					background: rgba(255,255,255, 0.95);
					text-align: center;
					z-index: 99999;
					box-shadow: 0 6px 7px -6px rgba(0, 0, 0, 0.15) inset;
					li {
						border-bottom: 1px solid #eaeaea;
						a {
							color: #212121;
							display: inline-block;
							font-size: 18px;
							padding: 30px 0 25px;
							text-transform: uppercase;
						}
					}
				}
				.toggle-mnu {
					display: block;
					width: 27px;
					height: 20px;
					span:after, span:before {
					    content: "";
					    position: absolute;
					    left: 0;
					    top: 9px;
					}
					 span:after {
					    top: 18px;
					}
					span {
						position: relative;
						display: block;
					}
					span, span:after, span:before {
					    width: 100%;
					    height: 3px;
					    background: #3f3f4d;
					    transition: all 0.3s;
					}
					&.on span {
    					transform: rotate(90deg) translate(10px, -7px);
					}
				}
			}
			.login {
				float: right;
				a {
					color: #3f3f4d;
					font-size: 14px;
					i {
						margin: 0 7px 0 0;
						.login_icon {
							fill: #3f3f4d;
							width: 13px;
							height: 16px;
							display: inline-block;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
	.header_bottom, .footer_bottom {
		max-width: 960px;
		margin: 0 auto;
		padding: 28px 0 23px;
		.logo {
			float: left;
			width: 30%;
			margin: 27px 0 0;
			h1 {
				margin: 0;
				display: inline-block;
				text-align: center;
			}
			a {
				font-family: 'Merienda One';
				color: #cd9a8a;
				font-size: 44px;
				span {
					text-transform: uppercase;
					font-size: 12px;
					color: #212121;
					display: block;
					font-family: 'Open Sans', sans-serif;
					font-weight: 600;
				}
			}
		}
		.wrapper_social_search {
			width: 35%;
			text-align: center;
			float: left;
			.social {
				margin: 0 0 20px;
				a {
					font-size: 13px;
					color: #212121;
					font-weight: 600;
					display: inline-block;
					margin: 0 3px 0 0;
					&:last-child {
						margin: 0;
					}
					&:hover i{
						opacity: 0.7;
					}
					i {
						display: inline-block;
						.facebook, .vk, .insta, .mail {
							width: 22px;
							height: 22px;
							display: inline-block;
							vertical-align: middle;
						}
						.facebook {
							.st0{fill:#3a5897;}
							.st1{fill:#FFFFFF;}
						}
						.vk {
							.st0{fill:#4D76A1;}
							.st1{fill:#FFFFFF;}
						}
						.insta {
							.st0{fill:#3F729B;}
							.st1{fill:#FFFFFF;}
						}
						.mail {
							fill:$mainColor;
						}
					}
				}
			}
			.search {
				border: 2px solid $mainColor;
				border-radius: 20px;
				padding: 9px 13px;
				box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
				margin: 0 0 20px;
				input {
					padding: 0 0 0 33px;
					border: 0;
					background: transparent;
					height: 20px;
					width: 93%;
					background: url(../img/search_icon.svg) no-repeat 0 0;
					background-size: 17px 18px;
				}
				.submit {
					width: 7%;
					height: 20px;
					background: transparent url(../img/arrow_submit.svg) no-repeat 100% 50%;
					background-size: 8px 16px;
					border: 0;
					float: right;
					cursor: pointer;
					padding: 0;

				}
			}
			.example {
				color: #d1a293;
				a {
					color: #d1a293;
					text-decoration: underline;
					display: inline-block;
					margin: 0 0 0 4px;
					transition: all .3s ease;
					&:hover {
						text-decoration: none;

					}
				}
			}
		}
		.contacts {
			float: right;
			width: 27%;
			max-width: 255px;
			min-width: 200px;
			.work_time {
				font-size: 13px;
				font-weight: 600;
				display: inline-block;
				margin: 0 0 15px;
				i {
					float: left;
					margin: 0 8px 0 0;
					.clock_icon {
						width: 20px;
						height: 20px;
						display: inline-block;
						vertical-align: middle;
						.clock0 {
							fill: $mainColor;
						}
						.clock1 {
							fill: $mainColor;
						}
					}
				}
			}	
			.phone {
				font-size: 17px;
				font-weight: bold;
				color: #212121;
				display: inline-block;
				margin: 0 0 5px;
				i {
					display: inline-block;
					margin: 0 7px 0 0;
					.phone_icon {
						fill: $mainColor;
						width: 18px;
						height: 19px;
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
			.callback {
				margin: 15px 0 0;
				font-size: 14px;
				display: inline-block;
				color: #f67076;
				font-weight: 600;
				border-bottom: 1px dashed #f67076;
				&:hover {
					border-bottom: 1px dashed transparent;
				}
			}
		}
	}
}
#main {
	.wrapper_slider {
		background: url(../img/bg_pink.jpg) repeat;
		position: relative;
		padding: 10px 0 0;
		overflow: hidden;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow_up.png) repeat 0 0;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow.png) repeat 0 0;
		}
		.bg {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 14%;
				bottom: -92px;
				width: 20%;
				height: 86px;
			    border-radius: 50%;
			    box-shadow: -34px -32px 82px 143px rgba(255, 255, 255, 0.6);
			}
		}
		.slider {
			max-width: 960px;
			margin: 0 auto;
			position: relative;
			z-index: 999;
			.slick-dots {
				width: auto;
				right: 0;
				bottom: 15px;
				z-index: 9999;
			}
			.slick-dots li {
				margin: 0 0 0 5px;
			}
			.slick-dots li,.slick-dots li button {
				width: 12px;
				height: 12px;
			}
			.slick-dots li button:before {
				width: 12px;
				height: 12px;
				background: #eeddc8;
				padding: 0;
				border-radius: 50%;
				color: transparent;
				opacity: 1;
			}
			.slick-dots li:hover button::before {
				background: #cd9a8a;
			}
			.slick-dots li.slick-active button::before {
				opacity: 1;
				color: transparent;
				background: #cd9a8a;
			}
			.text {
				display: inline-block;
				max-width: 495px;
				margin: 95px 0 0;
				h2 {
					margin: 0 0 10px;
					font-weight: 600;
					font-size: 24px;
					text-transform: uppercase;
				}
				span {
					font-size: 14px;
					display: inline-block;
					margin: 0 0 25px;
				}
				.more {
					display: inline-block;
					color: #f67076;
					border: 2px solid #f67076;
					border-radius: 20px;
					font-size: 14px;
					padding: 11px 20px;
					transition: all .3s ease;
					&:hover {
						background: #f67076; 
						color: #fff;
						transition: all .3s ease;
					}
				}
			}
			.wrapper_img {
				float: right;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					right: 63%;
					top: 37%;
					width: 1px;
					height: 1px;
				    border-radius: 50%;
				    box-shadow: -58px -21px 88px 76px rgba(255, 255, 255, 1), 34px 21px 88px 76px rgba(255, 255, 255, 1);
				    z-index: -1;
				}
			}
		}
	}
	h3 {
		text-align: center;
		font-size: 24px;
		margin: 0;
		text-transform: uppercase;
		padding: 0 25px;
		position: relative;
		display: inline-block;
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: -70px;
			top: 50%;
			background: #dfdfdf;
			width: 100%;
			max-width: 70px;
			height: 1px;
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			right: -70px;
			top: 50%;
			background: #dfdfdf;
			width: 100%;
			max-width: 70px;
			height: 1px;
		}
	}
	.looking {
		padding: 40px 0 30px;
		max-width: 960px;
		margin: 0 auto;
		text-align: center;
		.wrapper_box {
			margin: 40px 0 0;
			.box {
				display: inline-block;
				width: 116px;
				margin: 0 0 20px;
				a {
					display: block;
					color: #212121;
					transition: all .3s ease;
					&:hover span {
						text-decoration: none;
						transition: all .3s ease;
					}
					&:hover {
						color: #f5c4b3;
						transition: all .3s ease;
					}
					span {
						display: inline-block;
						text-decoration: underline;
						font-weight: 600;
						transition: all .3s ease;
					}
				}
				.circle {
					border: 2px solid #f5c4b3;
					border-radius: 50%;
					width: 85px;
					height: 85px;
					overflow: hidden;
					margin: 0 auto 15px;
					line-height: 80px;
					.looking_box_1 {
						max-width: 50px;
						margin: 15px 0 0;
					}
					.looking_box_2 {
						max-width: 70px;
						vertical-align: middle;
					}
					.looking_box_3 {
						max-width: 65px;
						vertical-align: middle;
						margin: 0 0 5px;
						.st0{fill:#82C888;}
						.st1{fill:#73AA82;}
						.st2{fill:#E88470;}
						.st3{fill:#D2504B;}
						.st4{fill:#BE3C3C;}
						.st5{fill:#823C41;}
						.st6{fill:#FFB996;}
						.st7{fill:#FFE6D2;}
						.st8{fill:#FFD7B4;}
					}
					.looking_box_4 {
						max-width: 51px;
						vertical-align: middle;
						.st0{fill:#BF392C;}
						.st1{fill:#EFC75E;}
						.st2{fill:#D7B354;}
						.st3{fill:#AC3327;}
					}
					.looking_box_5 {
						max-width: 45px;
						vertical-align: middle;
						margin: 20px 0 0;
						.st0{fill:#D2504B;}
						.st1{fill:#BE3C3C;}
						.st2{fill:#E88470;}
						.st3{fill:#73AA82;}
						.st4{fill:#BE6E4B;}
						.st5{fill:#FFE6D2;}
						.st6{fill:#D2875A;}
						.st7{fill:#FFD7B4;}
					}
					.looking_box_6 {
						max-width: 40px;
						vertical-align: middle;
						.st0{fill:#F3F0E0;}
						.st1{fill:#E8B9AC;}
						.st2{fill:#BC6190;}
						.st3{fill:#3E2C3A;}
						.st4{fill:#8D496C;}
					}
					.looking_box_7 {
						max-width: 50px;
						vertical-align: middle;
						.st0{fill:#F8EBC8;}
						.st1{fill:#FF5064;}
						.st2{fill:#FFFAEB;}
						.st3{fill:#FF7D91;}
						.st4{fill:#FFF5DC;}
						.st5{fill:#FF6478;}
					}
					.looking_box_8 {
						max-width: 41px;
						vertical-align: middle;
						.st0{fill:#B39A7C;}
						.st1{fill:#00AA95;}
						.st2{fill:#008877;}
					}
				}
			}
		}
	}
	.best_prise, .popular_tovar {
		max-width: 960px;
		margin: 0 auto;
		text-align: center;
		padding: 0 0 20px;
		.wrapper_best_prise_box, .wrapper_popular_tovar_box {
			margin: 35px 0 0;
			.best_prise_box, .popular_tovar_box {
				position: relative;
				border-radius: 15px;
				width: 100%;
				max-width: 225px;
				float: left;
				margin: 0 20px 20px 0;
				max-height: 376px;
				transition: all .5s ease;
				box-shadow: 1px 1px 9px rgba(0,0,0,0.1), -1px -1px 9px rgba(0,0,0,0.1);
				&:nth-child(4n) {
					margin: 0 0 20px;
				}
				&:hover {
					box-shadow: none;
					transition: all .5s ease;
				}
				.wrapper_img {
					height: 214px;
					line-height: 214px;
					margin: 0 0 20px;
					img {
						vertical-align: middle;
					}
				}
				.name_tovar {
					display: block;
					margin: 0 0 10px;
				}
				.prise {
					margin: 0 0 20px;
					.new {
						font-size: 24px;
						color: #f67076;
						display: inline-block;
						font-weight: bold;
					}
					.old {
						color: #dcdcdc;
						font-weight: 600;
						text-decoration: line-through;
					}
				}
				.buy {
					width: 100%;
					max-width: 185px;
					color: #fff;
					font-size: 18px;
					font-weight: 600;
					display: inline-block;
					background: #f67076;
					border-radius: 19px;
					padding: 12px 0;
					margin: 0 0 20px;
					border: 2px solid transparent;
					transition: all .5s ease;
					&:hover {
						border: 2px solid #f67076;
						color: #f67076;
						background: transparent;
						transition: all .5s ease;
					}
				}
				.action {
					color: #fff;
					text-transform: uppercase;
					font-weight: 600;
					background: #2ecc71;
					font-size: 14px;
					position: absolute;
					top: 15px;
					left: 15px;
					width: 90px;
					padding: 9px 0;
					border-radius: 15px;
				}
			}
		}
	}
	.wrapper_guarantee {
		background: url(../img/bg_.jpg) repeat;
		padding: 40px 0 30px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow_up.png) repeat 0 0;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow.png) repeat 0 0;
		}
		.guarantee {
			text-align: center;
			max-width: 960px;
			margin: 0 auto;
			.wrapper_guarantee_box {
				margin: 40px 0 0;
				.guarantee_box {
					text-align: center;
					width: 200px;
					display: inline-block;
					margin: 0 47px 25px 0;
					&:nth-child(4n) {
						margin: 0 0 25px;
					}
					h4 {
						font-weight: bold;
						margin: 0;
						text-transform: uppercase;
					}
					span {
						font-size: 13px;
						text-transform: uppercase;
					}
					.circle {
						width: 180px;
						height: 180px;
						line-height: 170px;
						border: 3px solid #f3b9a7;
						border-radius: 50%;
						margin: 0 auto 20px;
						.guarantee_box_1 {
							max-width: 92px;
							vertical-align: middle;
							.st0{fill:#E6E6E6;}
							.st1{fill:#9E6C53;}
							.st2{fill:#8A5336;}
							.st3{fill:#EBBA16;}
						}
						.guarantee_box_2 {
							max-width: 76px;
							vertical-align: middle;
							.st0{fill:#2F8442;}
							.st1{opacity:0.8;}
							.st2{fill:#E0DAD2;}
							.st3{opacity:0.5;}
							.st4{fill:#F6A2A3;}
							.st5{fill:#E84849;}
							.st6{fill:#F4E028;}
							.st7{fill:#E5CE27;}
						}
						.guarantee_box_3 {
							vertical-align: middle;
							max-width: 90px;
							.st0{fill:#5E3118;}
							.st1{fill:#77442B;}
							.st2{fill:#EAEAD6;}
							.st3{fill:#BFBDA3;}
							.st4{fill:#6D8C60;}
							.st5{fill:#91553D;}
							.st6{fill:#6D3D25;}
							.st7{fill:#E4C05C;}
						}
						.guarantee_box_4 {
							vertical-align: middle;
							max-width: 109px;
							.st0{fill:#F4BF1A;}
							.st1{fill:#FFD949;}
							.st2{fill:#DCA815;}
							.st3{fill:#D1D4D2;}
						}
					}
				}
			}
		}
	}
	.reviews {
		max-width: 960px;
		margin: 0 auto;
		text-align: center;
		padding: 50px 0 30px;
		.wrapper_reviews_box {
			margin: 35px 0 30px;
			text-align: left;
			position: relative;
			background: #fff;
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 98%;
				height: 5px;
				box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
				z-index: -1;
				margin: 0 auto;
			}

			.reviews_box {
				max-width: 47%;
				vertical-align: top;
				display: inline-block;
				margin: 0 5% 30px 0;
				&:nth-child(2n) {
					margin: 0 0 30px;
				}
				 .wrapper_img {
				 	float: left;
				 	margin: 0 20px 0 0;
				 	img {
						border: 3px solid #f3b9a7;
						border-radius: 50%;
				 	}
				}
				.wrapper_text {
					float: left;
					max-width: 300px;
					.wrapper_name_stars {
						margin: 0 0 20px;
						.name {
							font-weight: 600;
							margin: 0 15px 0 0;
							display: inline-block;
						}
						.stars {
							display: inline-block;
						}
					}
					p {
						font-size: 14px;
						line-height: 22px;
						margin: 0 0 20px;
					}
					.date {
						font-size: 14px;
						color: #bdbdbd;
					}
				}
			}
		}
		.add_review {
			border: 2px solid #f67076;
			background: #f67076;
			color: #fff;
			font-size: 18px;
			font-weight: 600;
			border-radius: 20px;
			width: 260px;
			padding: 6px 0 10px;
			cursor: pointer;
			transition: all .3s ease;
			&:hover {
				background: transparent;
				color: #f67076;
				transition: all .3s ease;
			}
		}
	}
	.wrapper_payment_tovar {
		background: url(../img/bg_.jpg) repeat;
		padding: 40px 0 30px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow_up.png) repeat 0 0;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow.png) repeat 0 0;
		}
		.payment_tovar {
			max-width: 960px;
			margin: 0 auto;
			text-align: center;
			.payment_tovar_box {
				margin: 40px auto 0;
				.circle {
					background: #fff;
					width: 180px;
					height: 180px;
					line-height: 180px;
					overflow: hidden;
					border: 3px solid #f67076;
					border-radius: 50%;
					margin: 0 auto 30px;
					.payment_tovar_1 {
						max-width: 127px;
						vertical-align: bottom;
						.st0{fill:#FAC176;}
						.st1{fill:#E8E8D3;}
						.st2{fill:#ECF0F1;}
						.st3{fill:#BDC3C7;}
						.st4{fill:#556080;}
						.st5{fill:#FDD7AD;}
						.st6{fill:#6D8C60;}
					}
				}
				p {
					margin: 0;
					line-height: 25px;
				}
			}
		}
	}
	.delivery_tovar {
	    max-width: 960px;
	    margin: 0 auto;
	    text-align: center;
	    padding: 40px 0 30px;
    	.delivery_tovar_box {
	        margin: 40px auto 0;
	        .circle {
	            background: #fff;
	            width: 180px;
	            height: 180px;
	            line-height: 180px;
	            overflow: hidden;
	            border: 3px solid #f67076;
	            border-radius: 50%;
	            margin: 0 auto 30px;
	            .delivery_tovar_1 {
	                max-width: 137px;
	                vertical-align: bottom;
	                .st0{fill:#FFD7A3;}
					.st1{fill:#FDC88E;}
					.st2{fill:#FFE1B2;}
					.st3{fill:#FF6953;}
					.st4{fill:#E54F4F;}
					.st5{fill:#7E5449;}
					.st6{fill:#FFB422;}
					.st7{fill:#393950;}
	            }
	        }
        	p {
          	 	margin: 0 0 20px;
            	line-height: 25px;
        	}
        	.detals_prise {
        		color: #fff;
        		background: #f67076;
        		border: 2px solid #f67076;
        		display: inline-block;
        		width: 310px;
        		padding: 10px 0;
        		font-weight: 600;
        		font-size: 18px;
        		border-radius: 20px;
        		transition: all .3s ease;
        		&:hover {
        			color: #f67076;
        			background: transparent;
        			transition: all .3s ease;
        		}
        	}
    	}	
    }
    .wrapper_about_us {
    	background: url(../img/bg_pink.jpg) repeat;
		position: relative;
		overflow: hidden;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow_up.png) repeat 0 0;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 10px;
			background: url(../img/bg_arrow.png) repeat 0 0;
		}
		.bg {
			position: relative;
			padding: 50px 0 70px;
			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: -92px;
				width: 135px;
				height: 86px;
			    border-radius: 50%;
			    box-shadow: -34px -32px 99px 188px rgba(255, 255, 255, 0.6);
			}
			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: -92px;
				width: 20%;
				height: 86px;
			    border-radius: 50%;
			    box-shadow: -34px -32px 99px 188px rgba(255, 255, 255, 0.6);
			}
		}
		.about_us {
			max-width: 960px;
			margin: 0 auto;
			text-align: center;
			position: relative;
			z-index: 5;
			h3 {
				&:after, &:before {
					background: #212121;
				}
			}
			.wrapper_about_us_box {
				margin: 35px 0 0;
				text-align: left;
				p {
					margin: 0 0 30px;
					line-height: 24px;
					&:last-child {
						margin: 0;
					}
				}
			}
		}
    }
    .contacnts {
    	max-width: 960px;
    	margin: 0 auto;
    	text-align: center;
    	padding: 50px 0;
    	.wrapper_contacnts_box {
    		margin: 30px 0 0;
    		.contacnts_box {
    			width: 49%;
    			display: inline-block;
    			vertical-align: top;
    			padding: 0 4%;
    			.phone, .address {
    				margin: 0 0 30px;
    				.head {
    					font-size: 18px;
    					display: inline-block;
    					font-weight: 600;
    					margin: 0 0 5px;
    				}
    				a, .street {
    					color: #212121;
    					font-weight: normal;
    				}
    			}
    			.map {
    				iframe {
    					width: 100%;
    				}
    			}
    		}
    	}
    }
}
#footer {
	overflow: hidden;
	.contacts {
		.head {
			display: inline-block;
			font-weight: bold;
			margin: 0 0 5px;
		}
	}
	.footer_bottom {
		.logo {
			margin: 0;
		}
		.copyright {
			margin: 25px 0 0;
			display: block;
			font-size: 14px;
		}
		.wrapper_social_search {
			.social {
				margin: 5px 0 0;
			}
		}
	}
} 
